h1{
    margin-top: 5%;
    margin-left: 50%;
    margin-bottom: 5%;
    /*margin-right: 50%;*/
    color: blue;
    /*background-color: aqua;*/
}
#id{
    margin-top: 5%;
    margin-left: 50%;
    margin-bottom: 5%; 
};